@font-face {
    font-family: 'Triump Rg Blur W00_02';
    src:url('../../fonts/2089443/e4341039-002d-4274-b74d-8b8035708289.woff2') format('woff2'),url('../../fonts/2089443/4262abde-7dc7-46ea-998c-eeb64eef9642.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Arquitecta W00 Regular';
    src:url('../../fonts/9488961/f3254b8d-1e0e-4260-8ad2-2dada98362ce.woff2') format('woff2'),url('../../fonts/9488961/2230787e-7bc0-4043-90dc-6485402cec98.woff') format('woff');
}